/* Spinner */
.circle-loader {
  width: 20px;
  height: 20px;
  border: 2px solid #b3d1ff;
  border-top: 2px solid #0056b3;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  /* padding: 0.8rem; */
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
